* {
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    left: 0px;
}
body{
    border: 5px solid red;
}
#appANDnwslttr{
    width: 75%;
    margin: 5vw auto;/* for emulation purposes, remove when creating component */
    height: auto;
    border: 2px solid black;
    display: grid;
    grid-template-areas: 'nwslttr dwnld_app';
    grid-template-columns: auto 24rem;
    grid-template-rows: 100%;
    gap: 10%;
}
@media screen and (max-width:450px) {
    #appANDnwslttr{
        width: 90%;
        height: auto;
        grid-template-areas:
        'nwslttr'
        'dwnld_app';
        grid-template-columns:100%;
        grid-template-rows: 54% 43%;
        gap: 3%;
    }
}
@media screen and (min-width:450px) and (max-width:768px){
    #appANDnwslttr{
        width: 85%;
        height: auto;
        grid-template-areas: 
        'nwslttr'
        'dwnld_app';
        grid-template-columns:100%;
        grid-template-rows: 47.5% 47.5%;
        gap:5%;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    #appANDnwslttr{
        width: 80%;
        gap:5%;
        height: auto;
        grid-template-columns: 47.5% 47.5%;
        /* grid-template-areas: 
        'nwslttr'
        'dwnld_app';
        grid-template-columns:100%;
        grid-template-rows: 47.5% 47.5%;
        gap:5%; */
    }
}
@media screen and (min-width:1024px) and (max-width:1200px){
    #appANDnwslttr{
        width: 75%;
        gap: 5%;
    }
}
@media screen and (min-width:1200px) and (max-width:1500px){
    #appANDnwslttr{
        width: 75%;
        gap: 5%;
    }
}

@media screen and (min-width:1500px) {
    #appANDnwslttr{
        width: 75%;
    }
}